{% set template = 'index' %} 
{% extends "base.twig" %}

{% block content %}
  <main id="main">
    <div class="content-section">
      <div class="container">
        <div class="archive-list">
          <div class="content-head">
            <p class="eyebrow">Latest</p>
            <h1>{{ title|default('Posts') }}</h1>
          </div>
          {% for post in posts %}
            {% include ["partial/tease-" ~ post.post_type ~ ".twig", "partial/tease.twig"] %}
          {% else %}
            <p>No posts found.</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
