{% set template = 'page-plugin' %}
{% extends 'base.twig' %}
{% block content %}
  <main id="main">
    <div class="content-section">
      <div class="container">
        <div class="content" id="content">
          {{ content }}
        </div>
      </div>
    </div>
  </main>
{% endblock %}
