{% if items %}
  <ul class="sidebar-nav">
    {% for item in items %}
      {% set classes = item.classes|default([]) %}
      <li class="{{ classes|join(' ') }}">
        <a href="{{ item.link }}">{{ item.title }}</a>
        {% if
          item.children
            and ('current-page' in classes
              or 'current-page-ancestor' in classes) %}
          {% include 'partial/side-nav-items.twig' with {
            items: item.children
          } only %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
